<div class="container">
  <div class="row">
    <div class="col-3 center">
      <%= link_to "Pets", "/pets/"%> 
    </div>
    <div class="col-3 center">
      <%= link_to "Shelters", "/shelters/"%> 
    </div>
  </div>
  <div class="row">
    <div class="col-3 center">
      <h1>Shelters</h1>
    </div>
  </div>
</div>


<ul>
  <% @shelters.each do |shelter| %>
    <li>
      <%= link_to "#{shelter.name}", "/shelters/#{shelter.id}"  %> <%= link_to "Edit Shelter", "/shelters/#{shelter.id}/edit" %> 
      <%= link_to "Delete Shelter", "/shelters/#{shelter.id}", method: :delete %>
    </li>
  <% end %>
</ul>

<a href="/shelters/new">New Shelter</a>
