<h1><%= @shelter.name %></h1>
<ul>
  <li><p><%= @shelter.address %></p></li>
  <li><p><%= @shelter.city %></p></li>
  <li><p><%= @shelter.state %></p></li>
  <li><p><%= @shelter.zip %></p></li>
</ul>
