<h1><%= "#{@pets.adoptable_pets.first.shelter.name}" "'s Adoptable Pets" %></h1>

<% @pets.adoptable_pets.each do |pet| %>
  <h2><%= pet.name %></h2>
  <img src=<%= "#{pet.img_url}" %> alt=<%= "#{pet.id}" %> height="100" width="100">
  <p>Approximate Age: <%= pet.age %></p>
  <p>Sex: <%= pet.sex %></p>
<% end %>
