<h1><%= @pet.name %></h1>
<ul>
  <li><p><%= @pet.name %></p></li>
  <img src=<%= "#{@pet.img_url}" %> alt=<%= "#{@pet.id}" %> height="100" width="100">
  <li><p><%= @pet.age %></p></li>
  <li><p><%= @pet.sex %></p></li>
  <li><p><%= @pet.description %></p></li>
  <li><p><%= @pet.adoption_status %></p></li>
</ul>

<%= link_to "Update Pet", "/pets/#{@pet.id}/edit" %>
